[package]
name = "ls"
version = "0.1.0"
edition = "2024"

[features]
default = []

[dependencies]
libtinyos = { git = "https://github.com/lmeller-git/libtinyos" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
